@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
	font-family: "Lato", sans-serif;
	background-color: #e6e6e6;
	width: 98%;
	margin: 0;
  }
  .header {
	  
	font-family: "Lato", sans-serif;
	border-radius: 25px;
	background-color: #ff2e2e;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.5rem 1rem; }

.header img{
	max-width: 250px;
	max-height: 100px;
}
.header p{
	color: #f1f1f1;
	align-self: center;
	margin-right: 200px;
}
.header h1{
	color: #f1f1f1;
	align-self: center;
	margin-right: 200px;
}
.navbar-user-top{
    
    background: #ff2e2e;
    color: #E1E1E1;
    height: 55px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 7;
}

.navbar-user-top-home{
    
    background: #ff2e2e;
    color: #E1E1E1;
    height: 55px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 7;
}
.navbar-user-top > ul{
    height: 55px;
    color: white;
    margin: 0;
}
.navbar-user-top > ul > li{
    display: inline-block;
    float: right;
    color: rgba(255,255,255,.4);
    height: 55px;
    margin: 0 12px;
    text-align: center;
    cursor: pointer;
    line-height: 55px;
}
.navbar-user-top > ul > li:hover{
  color: #FFD559;  
}
.navbar-user-top > ul > li:hover span.badge{
    background-color: #E34724;
}
.navbar-user-top > ul > li > a{
    font-size: 30px;
    color: white;
    text-decoration:none;
    display:block;
}
.navbar-user-top > ul > li > ul{
    display:none;
    position:absolute;
    min-width:140px;
}

.navbar-user-top > ul > li:hover >ul {
    display: block;
    background: #ff2e2e;
    text-decoration: none;
    list-style: none;
    padding: 0;
}
.navbar-user-top > ul > li:hover > ul > li > a {
    font-size: 30px;
    align-items: center;
    color: white;
    text-decoration:none;
    display:block;
}
.navbar-user-top > ul > li:hover > ul > li > a:hover {
background: gray;
}
.navbar-user-top > ul > li > a:hover{
    background: #ff2e2e;
}

.navbar-user-top ul >li> ul> li {
    position:relative;
}
.navbar-user-top ul>li> ul> li> ul {
    right:-140px;
    top:0px;
}
.input-editarperfil input{
		width: 80%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	  
}
.input-editarperfil label{
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	
	margin: 8px 0;
	display: inline-block;
	font-size: 20px;
}
.input-editarperfil button{
	width: 10%;
	border: 6px solid black;
	border-color: #444;
	height: 40px;
	font-size: 18px;
	background-color: #ff2e2e;
	cursor: pointer;
	color: white;
	border: none;

	margin: 8px 0;
	display: inline-block;

}
.input-editarperfil button:hover{
	background-color: hsl(0, 100%, 70%);

}
.acept-button button{

	
		font-family: "Roboto", sans-serif;
		text-transform: uppercase;
		outline: 0;
		background: #f71919;
		width: 100%;
		border: 0;
		padding: 15px;
		color: #FFFFFF;
		font-size: 14px;
		-webkit-transition: all 0.3 ease;
		transition: all 0.3 ease;
		cursor: pointer;
	  

}
.acept-button button:hover{
	background: #f82c2c;
}
.navbar-lateral{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
  
  .sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(255,30,30,1) 2%, rgb(255, 57, 57) 100%);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #ffffff;
	display: block;
	transition: 0.3s;
  }
  
  .sidebar a:hover {
	color: #f1f1f1;
	background: gray;
  }
  
  .sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  .openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: rgb(245, 16, 16);
	color: white;
	padding: 10px 15px;
	border: none;
  }
  
  .openbtn:hover {
	background-color: #444;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 16px;
	width: 100%;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 800px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
  }


  /*seccion para contenido de home*----------------------------------------------------------------*/
.container-content{

}
 .itemcontent{
	 background-color: #e6e6e6;
	 
 }
 .itemcontent img{
	 float: left;
 }
 .itemcenter{
	margin-top: 20px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffb5b5;
 }
 .itemcenter-nobgcolor{
	margin-top: 20px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;

 }

.itemcenter-nobgcolor-twoimage{
   margin-top: 20px;
   border-radius: 12px;
   display: flex;
   align-items: center;
   justify-content: center;

}
.itemcenter-nobgcolor-twoimage img{
	width: 250px;
	height: 250px;
}
 .itemcenter img{
	 max-height: 400px;
	 max-width: 400px;
 }
 .itemcenter-nobgcolor img{
	max-height: 30%;
	max-width: 50%;
	min-height: 30%;
	min-width: 50%;
}


 .row {
	display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
	  border-radius: 12px;
	background-color: #ff2e2e;
	flex: 50%;
	padding: 10px;
	text-align: center;
	 /* Should be removed. Only for demonstration */
  }
  .column-centertext {
	border-radius: 12px;
  background-color: #ff2e2e;
  padding: 10px;
  text-align: center;
   /* Should be removed. Only for demonstration */
}
  .column img{
	  float: left;
	  max-width: 70%;
	  min-width: 70%;
	  max-height: 250px;
	  min-height: 250px;
	  
  }
  .column h2{
	  margin-top: 15%;
	  color: #f1f1f1;
	  margin-left: 60%;
	  font-size: 30px;
	  
  }
  .column-centertext h2{
	color: #f1f1f1;
	font-size: 30px;
}
.column-centertext p{
	color: #f1f1f1;
	font-size: 18px;
	text-align: justify;
}
  .column:hover{
	  background-color: #ff8484;
  }

  @media screen and (max-width: 800px) {
	.column {
		border-radius: 12px;
	  


	   /* Should be removed. Only for demonstration */
	}
	.column h2{
		margin-top: 35%;
		margin-right: 120px;
		font-size: 15px;
	}
	.column img{
		max-width: 70%;
		min-width: 70%;
		max-height: 250px;
		min-height: 250px;
		
	}
  }
  .mainitem{
	font-family: 'Montserrat', sans-serif;
	  width: 100%;
	  min-height: 200px;
	  background-color: rgb(214, 214, 214);
	margin-top: 12px;  
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	transition: background-color 1.5s, color 1.5s;

  }
  .mainitem img{
	  float: left;
	max-width: 30%;
	min-width: 30%;
	max-height: 200px;
	min-height: 200px;
  }
  .mainitem h1{
	  margin-left: 60%;
	  margin-top: 5.5%
  }
  .mainitem:hover{
	  background-color: #ff2e2e;
	  color: #f1f1f1;
  }
  footer {
	  margin-top: 15px;
	  
	text-align: center;
	padding: 3px;
	border-top: 2px solid red;
	color: rgb(63, 60, 60);
  }